<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/4e1b67b613.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link href="./nmb/bootstrap.min.css" rel="stylesheet" />
    <script defer src="/scripts/bootstrap.min.js"></script>
    <link href="CSS/styles.css" rel="stylesheet" />
    <title>Rodando</title>
  </head>
  <body>
    <!--------------------------------------------------HEADER----------------------------------------------------------->
    <header class="header">
      <div class="header__navbar">
        <div class="header__logo">
          <a class="logo-link" href="/">
            <img src="/img/logo.png" alt="Bootstrap" width="280" height="50" />
          </a>
        </div>
        <div class="menu-container">
          <input type="checkbox" id="menu-toggle" />
          <label for="menu-toggle" class="menu-icon"
            ><i class="fa-solid fa-bars"> </i
          ></label>
          <nav class="menu">
            <ul class="header__nav--menu">
              <li class="header__nav--item">
                <a class="link-nav" href="/">Home</a>
              </li>
              <li class="header__nav--item">
                <a class="link-nav" href="/login">Mi cuenta</a>
              </li>
              <li class="header__nav--item me-5">
                <a class="link-nav active" href="/carrito"
                  ><i class="fa-solid fa-cart-shopping"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!---------------------------------------------------MAIN------------------------------------------------------------>
    <!-----------------------------------SECTION PRECIO TOTAL-------------------------------->
    <main id="main__background--carrito">
      <div>
        <h2 class="div__h2--detalle-carrito">DETALLE DE CARRITO</h2>
        <div class="div--container--precio-total">
          <div class="div--precio-numero-total precio-numero-container">
            <div class="div-total-numero">
              <h4 class="h4--precio-total">Precio Total</h4>
              <h6 class="h6--precio-numero">$ NUMERO</h6>
            </div>
            <div class="btn__container--realizar-pago">
              <button class="btn--realizar-pago">Realizar Pago</button>
            </div>
          </div>
        </div>
      </div>
      <!-----------------------------------SECTION RODADOS ALQUILADOS-------------------------------->
      <section class="section-productos">
        <!-------------------RODADO 1-------------------------->
        <div class="div--precio-numero">
          <div class="display-flex">
            <div class="div-img-products">
              <img class="img-width-height" src="img/bicicleta-1.png" />
            </div>
            <div class="div-container-products">
              <div>
                <p class="p-titulo-tipo-rodado">TITULO - TIPO DE RODADO</p>
              </div>
              <div class="div-horas-cantidad">
                <p class="p-horas-cantidad horas">Horas contratadas</p>
                <p class="p-margin p-width">Numeros hs</p>
              </div>
              <div class="div-horas-cantidad">
                <p class="p-horas-cantidad cantidad">Vehículos contratados</p>
                <p class="p-margin p-width">Numeros cant</p>
              </div>
            </div>
          </div>
          <div class="producto-datos-inputs-seleccion">
            <div class="precio">
              <label>$ NUMERO</label>
            </div>
            <div class="botones">
              <button><i class="fa-solid fa-trash-can"></i></button>
              <button>
                <a href="paginaDeReserva">
                  <i class="fa-solid fa-pen-to-square"></i> 
                </a>
              </button>
            </div>
          </div>
        </div>
        <!-------------------RODADO 2-------------------------->
        <div class="div--precio-numero">
          <div class="display-flex">
            <div class="div-img-products">
              <img class="img-width-height" src="img/monopatin-1.png" />
            </div>
            <div class="div-container-products">
              <div>
                <p class="p-titulo-tipo-rodado">TITULO - TIPO DE RODADO</p>
              </div>
              <div class="div-horas-cantidad">
                <p class="p-horas-cantidad horas">Horas contratadas</p>
                <p class="p-margin p-width">Numeros hs</p>
              </div>
              <div class="div-horas-cantidad">
                <p class="p-horas-cantidad cantidad">Vehículos contratados</p>
                <p class="p-margin p-width">Numeros cant</p>
              </div>
            </div>
          </div>
          <div class="producto-datos-inputs-seleccion">
            <div class="precio">
              <label>$ NUMERO</label>
            </div>
            <div class="botones">
              <button><i class="fa-solid fa-trash-can"></i></button>
              <button>
                <a href="paginaDeReserva"
                  ><i class="fa-solid fa-pen-to-square"></i
                ></a>
              </button>
            </div>
          </div>
        </div>
        <!-------------------RODADO 3-------------------------->
        <div class="div--precio-numero">
          <div class="display-flex">
            <div class="div-img-products">
              <img class="img-width-height" src="img/bicicleta-1.png" />
            </div>
            <div class="div-container-products">
              <div>
                <p class="p-titulo-tipo-rodado">TITULO - TIPO DE RODADO</p>
              </div>
              <div class="div-horas-cantidad">
                <p class="p-horas-cantidad horas">Horas contratadas</p>
                <p class="p-margin p-width">Numeros hs</p>
              </div>
              <div class="div-horas-cantidad">
                <p class="p-horas-cantidad cantidad">Vehículos contratados</p>
                <p class="p-margin p-width">Numeros cant</p>
              </div>
            </div>
          </div>
          <div class="producto-datos-inputs-seleccion">
            <div class="precio">
              <label>$ NUMERO</label>
            </div>
            <div class="botones">
              <button><i class="fa-solid fa-trash-can"></i></button>
              <button>
                <a href="paginaDeReserva"
                  ><i class="fa-solid fa-pen-to-square"></i
                ></a>
              </button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--------------------------------------------------FOOTER----------------------------------------------------------->
    <footer style="color: #020736E0;">
      <div class="content">
          <div class="top">
              <div class="logo-details">
                  <img src="images/image 75.jpg" alt="logo">
              </div>
              <div class="media-icons">
                  <a href="#"><i class="fa-brands fa-facebook-f" style="color: #020736E0;"></i></a>
                  <a href="#"><i class="fa-brands fa-twitter" style="color: #020736E0"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram" style="color: #020736E0;"></i></a>
                  <a href="#"><i class="fa-brands fa-youtube" style="color: #020736E0;"></i></a>
              </div>
          </div>
          <div class="link-boxes">
              <ul class="box">
                  <li class="link_name">Compañía</li>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Contáctanos</a></li>
                  <li><a href="#">Acerca de Nosotros</a></li>
                  <li><a href="#">Trabaja con nosotros</a></li>
              </ul>
              <ul class="box">
                  <li class="link_name">Sobre Nosotros</li>
                  <li><a href="#">Correo:rodando@gmail.com</a></li>
                  <li><a href="#">Contacto:+54-xxx-xxx</a></li>
                  <li><a href="#">WhatsApp:+54-xxx-xxx</a></li>
              </ul>
              <ul class="box">
                  <li class="link_name">Account</li>
                  <li><a href="#">Log In</a></li>
                  <li><a href="#">Mi perfil</a></li>
                  <li><a href="#">Mis viajes</a></li>
                  <li><a href="#">Registrarse</a></li>
              </ul>
              <ul class="box input-box">
                  <li class="link_name">Suscripción</li>
                  <li><input type="text" placeholder="Ingresa tu Email"></li>
                  <li><input type="button" value="Suscribirse"></li>
              </ul>
          </div>
      </div>
      <div class="bottom-details">
          <div class="bottom-text">
              <span class="copyright-text">Copyright &#169; 2023 All rights reserved.</span>
              <span class="policy-terms">
                  <a href="#">Políticas de privacidad</a>
                  <a href="#">Términos y condiciones</a>
              </span>
          </div>
      </div>
  </footer> 
  </body>
</html>
