<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="./nmb/bootstrap.min.css" rel="stylesheet" />
		<script defer src="/scripts/bootstrap.min.js"></script>
		<link href="css/styles.css" rel="stylesheet" />
		<title>Rodando</title>
	</head>
	<body>
<!--------------------------------------------------HEADER----------------------------------------------------------->
        <header>
            Tailwind
        </header>
<!---------------------------------------------------MAIN------------------------------------------------------------>
        <main id="main__background--carrito">
            <div>
                <h2 class="div__h2--detalle-carrito">DETALLE DE CARRITO</h2>
                <div class="div--container--precio-total">
                    <div class="div--precio-numero">
                        <div class="div-total-numero">
                            <h4 class="h4--precio-total">Precio Total</h4>
                            <h6 class="h6--precio-numero">$ NUMERO</h6>
                        </div>
                        <div class="btn__container--realizar-pago">
                            <button class="btn--realizar-pago">Realizar Pago</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
<!--------------------------------------------------FOOTER----------------------------------------------------------->
        <footer>
            Tailwind
        </footer>
    </body>
</html>