/* ---- RESETS GENERALES ---- */

body {
    min-height: 100vh;
}

img {
    max-width: 100%;
}

/* ---- NAVBAR ---- */
.header__nav {
    background-color: #030b58;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.header__nav--menu {
    text-decoration: none;
    list-style: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* -----  ------ */

.verde {
    color: green;
}

/* ---- ACERCA DE NOSOTROS ---- */

.about-us {
    background-image: url("./15 1.png");
}

/* ---- FOOTER ---- */

.footer {
    background: #020736;
    color: white;
}

.footer-icon {
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-justify {
    text-align: justify !important;
}
