/* ---- RESETS GENERALES ---- */
/* normalizado*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}

img {
  max-width: 100%;
}

/* ---- NAVBAR ---- */

.header__navbar {
  background-color: #020736;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}
.header__nav--menu {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header__nav--item {
  text-decoration: none;
  list-style: none;
}
.link-nav {
  text-decoration: none;
  color: aliceblue;
  font-size: large;
  font-weight: 600;
  padding: 0.3rem;
}
.link-nav:hover {
  color: #e13633;

  border-bottom: #e13633;
  transition: 300ms;
}

#menu-toggle {
  display: none;
}
.menu-icon {
  display: none;
}
.active {
  color: #e13633;
  font-size: large;
}

.cart-color {
  color: #fff;
}

/* ----- PRODUCTOS ------ */

.principal {
  background-size: cover;
  background-image: url("/img/fondo.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.productos {
  background-color: aliceblue;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.productos__boton {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  margin-bottom: 1rem;
}

.boton-producto {
  background-color: #020736;
  padding: 0.6rem 1rem;
  color: white;
  font-size: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-left: 0.7rem solid #e13633;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  transition: 0.4s;
}
.boton-producto:hover {
  background-color: #e13633;
  border-left: 0.7rem solid #020736;
}

/* Seccion acerca de nosotros */

.about-us {
  background-image: url("/img/fondo-bicicleta.png");
  background-repeat: repeat;
  background-attachment: fixed;
}
.about-us h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.about-us__left {
  background: #fffa;
}

.about-us__right {
  @media (min-width: 1200px) {
    text-align: right;
  }
  @media (orientation: portrait) {
    text-align: center;
  }
}

/* Seccion footer-home */

.footer-home {
  background: #020736;
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer-home__content {
  flex-direction: column-reverse;
  gap: 30px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-home__company {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.footer-home__social {
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.footer-home__location {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-home__location h2 {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.footer-home__location iframe {
  width: 350px;
  height: 300px;
}

.footer-home__icon {
  border: 1px solid white;
  border-radius: 100%;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-home__icon:hover {
  border-color: #c72f2d;
  background: #c72f2d;
}

.text-justify {
  text-align: justify !important;
}
