/* ---- RESETS GENERALES ---- */
/* normalizado*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}

img {
    max-width: 100%;
}

/* ---- NAVBAR ---- */

.header__navbar {
    background-color: #020736;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}
.header__nav--menu {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.header__nav--item {
    text-decoration: none;
    list-style: none;
}
.link-nav {
    text-decoration: none;
    color: aliceblue;
    font-size: large;
    font-weight: 600;
    padding: 0.3rem;
}
.link-nav:hover {
    color: #e13633;

    border-bottom: #e13633;
    transition: 300ms;
}

#menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
}
.active {
    color: #e13633;
    font-size: large;
}

.cart-color {
    color: #fff;
}

/* ----- PRODUCTOS ------ */

.principal {
    background-size: cover;

    background-image: url("/img/fondo.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.productos {
    background-color: aliceblue;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.productos__boton {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin-bottom: 1rem;
}

.boton-producto {
    background-color: #020736;
    padding: 0.6rem 1rem;
    color: white;
    font-size: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-left: 0.7rem solid #e13633;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    transition: 0.4s;
}
.boton-producto:hover {
    background-color: #e13633;
    border-left: 0.7rem solid #020736;
}

.verde {
    color: green;
}

/*-------------------------------------------------DETALLE CARRITO-------------------------------------------------------*/
#main__background--carrito {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/bicicletas-ciudad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 650px;
    padding: 2rem 6rem;
}

.p-width {
    width: max-content;
}

/*------------------------------------------------Nuevas clases Tomi -------------------------------------*/

.section-productos {
    display: flex;
    flex-direction: column;
}

.display-flex {
    display: flex;
    width: max-content;
}

.contenedor-producto {
    background-color: white;
    padding: 2%;
    border-radius: 5px;
}

.producto {
    display: flex;
    justify-content: space-around;
}

.producto-imagen {
    width: 22%;
}

.producto-datos {
    width: 70%;
}

.producto-datos h3 {
    text-transform: capitalize;
    font-weight: 600;
}

.producto-datos-inputs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.producto-datos-inputs-contratados {
    width: 50%;
}

.contratado {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.contratado label {
    font-size: 110%;
    padding: 5%;
}

.contratado p {
    font-size: 100%;
    margin: 0;
    text-align: start;
}

.producto-datos-inputs-seleccion {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.precio {
    display: flex;
    justify-content: flex-end;
}

.precio label {
    font-size: 25px;
}

.botones {
    display: flex;
    justify-content: flex-end;
}

.botones button {
    color: white;
    background-color: #020736;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5%;
    width: 100px;
    transition: all 400ms;
}

.botones button:hover, .botones button:hover a   {
    transform: scale(1.02);
    opacity: 80%;
    transition: 300ms;
}

.botones button a {
    text-decoration: none;
    color: white;
}


/*-----------------------------------------------Nuevas clases Tomi -------------------------------------*/

.div__h2--detalle-carrito {
    display: flex;
    justify-content: center;
    color: #111211;
    padding-bottom: 2rem;
    margin: 2% 0;
}

.div--container--precio-total {
    display: flex;
    justify-content: flex-end;
    color: #111211;
}

.div--precio-numero, .div--precio-numero-total {
    display: flex;
    background-color: white;
    border-radius: 6px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.div-total-numero {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-bottom: 2px solid #e13633;;
}

.h6--precio-numero {
    margin-right: 2rem;
    margin-top: 0.3rem;
}

.btn__container--realizar-pago {
    border-bottom: 2px solid #e13633;;
}

.btn--realizar-pago {
    background-color: #020736;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.7rem;
    margin: 1rem 0;
}

.btn--realizar-pago:hover {
    transition: 400ms;
    opacity: 80%;
    transform: scale(1.02);
}

.div--products-details-container {
    margin-top: 2rem;
    margin-left: 10rem;
}

.div-img-products {
    margin: 0 5rem;
    border-radius: 6px;
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}

.img-width-height {
    width: 300px;
    height: 200px;
    padding: 10px;
}

.div-container-products {
    align-items: center;
    display: grid;
    margin-right: 5rem;
}

.p-titulo-tipo-rodado {
    font-weight: bold;
}

.div-horas-cantidad {
    display: flex;
}

.p-horas-cantidad {
    font-weight: bold;
}

.div-numero {
    display: flex;
    align-items: center;
}

.p-numero {
    border-bottom: 1px solid black;
    font-weight: bold;
    padding-right: 3rem;
}

.div-btn-products {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 3.4rem;
}

.horas, .cantidad {
    width: 200px;
}

/************* MEDIA QUERY MAX-WIDTH*********************/

@media (max-width: 1200px) {
    .img-width-height {
        width: 200px;
        height: 100px;
        position: relative;
        top: 10px;
    }

    .div-img-products {
        margin: 0 3rem;
    }

    .precio label{
        font-size: 20px;
    }
}

@media (max-width: 1050px) {
    .div-img-products {
        margin: 1rem 1rem;
        max-width: 100%;
    }

    .img-width-height {
        min-width: 100px;
        max-width: 100%;
        height: 80px;
        top: 5px;
    }
}

@media (max-width: 950px) {
    .producto-datos-inputs-seleccion {
        margin-left: -3rem;
    }
}

@media (max-width: 900px) {
    .div--precio-numero {
        padding: 1rem;
    }

    .botones button {
        width: 70px;
        padding: 3px;
    }

    .precio label{
        font-size: 15px;
    }
}

@media (max-width: 880px) {
    .div--precio-numero {
        flex-direction: column;
        position: relative;
    }

    .producto-datos-inputs-seleccion {
        margin-left: 0;
        flex-direction: row;
        position: inherit;
        left: 240px;
    }

    .precio label {
        font-size: 15px;
        width: max-content;
        margin: auto;
    }

    .botones {
        position: inherit;
        left: 118px;
    }
}

@media (max-width: 800px) {
    .display-flex {
        width: min-content;
    }

    .producto-datos-inputs-seleccion {
        left: 38px;
    }

    .botones {
        left: 35px;
    }
}

@media (max-width: 700px) {
    .display-flex {
        width: auto;
    }

    .botones {
        left: 80px;
    }
}

@media (max-width: 600px) {
    .botones {
        left: 50px;
    }
}

@media (max-width: 560px) {
    .div-img-products {
        margin: 3rem 1rem;
        max-width: 100%;
    }

    .img-width-height {
        top: 25px;
    }

    .div-horas-cantidad {
        display: block;
    }

    .producto-datos-inputs-seleccion {
        left: 60px;
    }

    .botones {
        left: 35px;
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }
    .menu-icon {
        display: block;
        top: 0.3rem;
        right: 1.4rem;
        padding: 0.5rem;
        background-color: #c72f2d;
        color: aliceblue;
        font-size: 1rem;
        cursor: pointer;
        position: absolute;
        border-radius: 6px;
        z-index: 10;
    }
    #menu-toggle:checked ~ .menu {
        display: block;
        z-index: 10;
        margin-top: 2rem;
        background-color: #020736;
        border-radius: 5px;
        position: fixed;
        top: 2rem;
        right: 1rem;
        width: 10rem;
        padding: 1rem 0;
        box-shadow: 2px 2px 10px rgb(61, 61, 62);
    }

    .header__nav--menu {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin: auto;
    }
}

@media (max-width: 715px) {
    #main__background--carrito {
        padding: 2rem 3.4rem;
    }

    .div--container--precio-total {
        justify-content: center;
    }

    .div__h2--detalle-carrito {
        display: none;
    }
}

@media (max-width: 550px) {
    .div--precio-numero-total {
        display: grid;
    }

    .div-total-numero {
        border-bottom: 0;
    }

    .h6--precio-numero {
        margin-top: 0;
    }

    .btn__container--realizar-pago {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 440px) {
    #main__background--carrito {
        padding: 1.5rem;
    }
}

@media (max-width: 380px) {
    .div--precio-numero-total {
        padding: 1rem;
    }

    .h4--precio-total {
        font-size: small;
    }

    .h6--precio-numero {
        font-size: small;
    }
}
/* -----  ------ */

.verde {
    color: green;
}

/* ---- ACERCA DE NOSOTROS ---- */

.about-us {
    background-image: url("/img/fondo-bicicleta.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

.about-left {
    background: #fffa;
}

.about-right {
    @media (min-width: 1200px) {
        text-align: right;
    }
    @media (orientation: portrait) {
        text-align: center;
    }
}

/* ---- FOOTER ---- */

.footer {
    background: #020736;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer-content {
    flex-direction: column-reverse;
    gap: 30px;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-company {
    text-align: center;

    .footer-social {
        justify-content: center;
    }

    @media (min-width: 768px) {
        text-align: left;

        .footer-social {
            justify-content: flex-start;
        }
    }
}

.footer-location {
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer-location h2 {
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
    }
}

.footer-location iframe {
    width: 350px;
    height: 300px;
}

.footer-icon {
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon:hover {
    border-color: #c72f2d;
    background: #c72f2d;
}

.text-justify {
    text-align: justify !important;
}
