.grilla-usuarios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

article {
  background: #fff;
  padding: 20px;
}

button {
  border-radius: 7.5px;
  border: none;
  padding: 5px 10px;
  color: #fff;
  font-weight: semibold;
}

button p {
  margin-bottom: 0;
}

.article-fields {
  flex-grow: 1;
}

.btn-box {
  display: flex;
  justify-content: space-evenly;
}

.btn-delete {
  background-color: #df3c4d;
  padding: 10px 30px;
}

.btn-edit {
  background-color: orange;
  padding: 10px 30px;
}

.titulo-contenedor {
  position: relative;
}

.enlace-crear {
  position: absolute;
  right: 15%;
  bottom: 0;
}

.btn-crear {
  background: green;
  padding: 15px 35px;
}

.user-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.user-title-box {
  text-align: center;
  margin-bottom: 20px;
}

/*------------------------------------------------Nuevas clases para Alquileres -------------------------------------*/

.titulo-alquiler {
  font-weight: 900 ;
  text-transform: uppercase;
}

.cajita {
  background-color: white;
    margin: 5% 0;
    border-radius: 4px;
    border: solid 1px white;
    transition: all  400ms;
}

.cajita:hover{ 
  box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}

.display{
  display: none;
}