<!DOCTYPE html>
<html lang="en">
  <head>
		<%- include('./partials/head') %>
    <link rel="stylesheet" href="/CSS/stylecarrito.css" />
  </head>
  <body>
    <!--------------------------------------------------HEADER----------------------------------------------------------->
		<%- include('./partials/header') %>
    <!---------------------------------------------------MAIN------------------------------------------------------------>
    <main>
        <div class="grid text-center">
            <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
            <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
            <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
            <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
            <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
            <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
            <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
            <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
            <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
          </div>
    </main>
    <!--------------------------------------------------FOOTER----------------------------------------------------------->
    <%- include('./partials/footer') %> 
  </body>
</html>
