<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/CSS/stylecarrito.css" />
  </head>
  <body>
    <!--------------------------------------------------HEADER----------------------------------------------------------->
    <%- include('./partials/header') %>
    <!---------------------------------------------------MAIN------------------------------------------------------------>
    <!-----------------------------------SECTION PRECIO TOTAL-------------------------------->
    <main id="main__background--carrito">
      <div>
        <h2 class="div__h2--detalle-carrito">DETALLE DE CARRITO</h2>
        <div class="div--container--precio-total">
          <div class="div--precio-numero-total precio-numero-container">
            <div class="div-total-numero">
              <h4 class="h4--precio-total">Precio Total</h4>
              <h4 class="h6--precio-numero" id="precio-total">$</h4>
            </div>
            <div class="btn__container--realizar-pago">
              <button class="btn--realizar-pago" id="comprar-boton">
                Comprar
              </button>
              <button class="btn--realizar-pago" id="borrar-Carrito">
                Borrar carrito
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-----------------------------------SECTION RODADOS ALQUILADOS-------------------------------->
      <section class="section-productos" id="div1"></section>
    </main>
    <!--------------------------------------------------FOOTER----------------------------------------------------------->
    <%- include('./partials/footer2') %>
    <script type="text/javascript" src="/js/carrito.js"></script>
  </body>
</html>
