<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body class="d-flex flex-column">
    <%- include('./partials/header') %>
    <main class="flex-grow-1">
      <div class="principal">
        <section
          id="contenedorCarousel"
          class="container carousel slide p-0 mb-4"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner rounded shadow-lg">
            <div class="carousel-item active">
              <img
                src="https://rodando.alwaysdata.net/slide1.png"
                class="d-block w-100"
                alt="slide1"
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://rodando.alwaysdata.net/slide2.png"
                class="d-block w-100"
                alt="slide2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://rodando.alwaysdata.net/slide3.png"
                class="d-block w-100"
                alt="slide3"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#contenedorCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#contenedorCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </section>

        <section class="productos container rounded p-0 p-sm-3 p-md-4">
          <div class="productos__contenedor row">
            <div
              class="productos__contenedor--scooters mb-3 mb-sm-3 mb-md-0 col-md-6 col-12"
            >
              <div class="card text-bg-dark border-0 shadow">
                <img
                  src="https://rodando.alwaysdata.net/monopatin-card.png"
                  class="card-img"
                  alt="..."
                />
                <div class="productos__boton">
                  <a
                    class="boton-producto"
                    href="../productos/detalle"
                    role="button"
                    >Monopatines</a
                  >
                </div>
              </div>
            </div>
            <div class="productos__contenedor--bicicletas col-md-6 col-12">
              <div class="card text-bg-dark border-0 shadow">
                <img
                  src="https://rodando.alwaysdata.net/bicicleta-card.png"
                  class="card-img"
                  alt="..."
                />
                <div class="productos__boton">
                  <a
                    class="boton-producto"
                    href="../productos/detalle"
                    role="button"
                    >Bicicletas</a
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
        <h4 class="bold text-center py-4 mt-4 fst-italic">
          UNA NUEVA AVENTURA TE ESPERA...
        </h4>
      </div>

      <div class="about-us py-4">
        <div class="container">
          <h3 class="mb-4 text-center">Acerca de nosotros</h3>
          <div class="row align-items-center gap-4">
            <div class="col-md col-lg-8 px-3 about-us__left">
              <p class="m-0 text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum a
                aliquam maiores totam necessitatibus quod voluptate voluptatum
                in impedit. Exercitationem consectetur nostrum sunt eligendi eos
                quia aut sint mollitia voluptatum eveniet necessitatibus
                consequatur in animi nobis, pariatur voluptatem voluptas illo
                odit temporibus vitae veritatis repellendus! Magnam cumque
                reprehenderit amet molestiae.
              </p>
            </div>
            <div class="col-md col-lg-3 about-us__right">
              <img
                src="https://rodando.alwaysdata.net/fotogrupal 1.png"
                alt="Foto grupal del equipo"
              />
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- FOOTER-->
    <footer class="footer-home">
      <div class="container footer-home__content d-flex">
        <div class="footer-home__company">
          <h2>DONDE CONTACTARNOS</h2>
          <div class="d-flex flex-column gap-1 my-4">
            <h5>Telefono</h5>
            <p>(+5411) 4444 - 2020</p>
            <h5>Whatsapp</h5>
            <p>(+54) 9 11 6620 7538</p>
            <h5>Email</h5>
            <p>rodando@gmail.com</p>
          </div>
          <div class="footer-home__social d-flex gap-3">
            <div class="footer-home__icon">
              <a href="#"><i class="fa fa-facebook text-light"></i></a>
            </div>
            <div class="footer-home__icon">
              <a href="#"><i class="fa fa-instagram text-light"></i></a>
            </div>
            <div class="footer-home__icon">
              <a href="#"><i class="fa fa-twitter text-light"></i></a>
            </div>
          </div>
        </div>

        <div class="footer-home__location">
          <h2 class="mb-4">DONDE ESTAMOS</h2>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d210147.47496085308!2d-58.59811047273738!3d-34.61543035202346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20CABA%2C%20Argentina!5e0!3m2!1ses!2ses!4v1685686536036!5m2!1ses!2ses"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </footer>
  </body>
</html>
