<!DOCTYPE html>
<html lang="en">
  <head>
		<%- include('./partials/head') %>
    <link rel="stylesheet" href="/CSS/stylelogin.css" />
  </head>
  <body>
		<%- include('./partials/header') %>
    <form class="form-login" action="" method="POST" id="form">
      <div class="div-login">
        <h1 class="h1-login">Login</h1>
        <div class="grupo-login">
          <input class="input-login" type="email" name="" id="name" required /><span
            class="barra"
          ></span>
          <label class="label-login" for="">MAIL </label>
        </div>
        <div class="grupo-login">
          <input class="input-login" type="password" name="" id="name" required /><span
            class="barra"
          ></span>
          <label class="label-login" for=""> CONTRASEÑA</label>
        </div>
        <button class="btn-login" type="submit">Ingresar</button>
        <button class="btn-login" type="submit">Olvidó su contraseña?</button>
      </div>
    </form>
    <%- include('./partials/footer') %>
  </body>
</html>
