<!DOCTYPE html>
<html lang="en">
  <head>
		<%- include('./partials/head') %>
    <link rel="stylesheet" href="/CSS/stylecarrito.css" />
</head>
  <body>
    <!--------------------------------------------------HEADER----------------------------------------------------------->
		<%- include('./partials/header') %>
    <!---------------------------------------------------MAIN------------------------------------------------------------>
    <main>

    </main>
    <!--------------------------------------------------FOOTER----------------------------------------------------------->
    <%- include('./partials/footer') %> 
  </body>
</html>