<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/CSS/styleregistro.css">  
    
</head>

<body>
    <%- include('./partials/header') %>
    <main class="main-back-img">
    
        <h1 class="titulo-formulario"><strong>Registro de Usuarios</strong></h1>
        <p class="parrafotitulo"> Dar de alta nuevo usuario al sistema </p>
        <br>
        <div class="container row-form">
            <form class="row row-form g-4 mt-2 " id="formRegistro" method="POST" action="/usuarios/registro" enctype="multipart/form-data">
                <div class="mb-3 col-6">
                    <label for="input-name" class="form-label">Nombre</label>
                    <input type="text" 
                    class="form-control"
                    id="input-name" 
                    name="nombre"
                    placeholder="Introduzca Nombre">
                        
                    <span class="cajaError"  id="errorNombre"></span >
                            
                </div>
                <div class="mb-3 col-6">
                    <label for="input-apellido" class="form-label">Apellido</label>
                    <input type="text" 
                    class="form-control" 
                    id="input-apellido" 
                    name="apellido"
                    placeholder="Introduzca Apellido">
                       
                    <span class="cajaError"  id="errorApellido"></span >
                           
                </div>
                <br>
                <div class="mb-3 col-12">
                    <label class="form-label">Mail</label>
                    <input type="text" 
                    class="form-control" 
                    id="input-email"
                    name="email" 
                    placeholder="Introduzca Mail">
                    
                    <span class="cajaError"  id="errorEmail"></span >
                            
                </div>
                <br>
                <div class="mb-3 col-12">
                    <label  class="form-label">Contraseña</label>
                    <input type="password" 
                    class="form-control" 
                    id="input-password"
                    name="contrasena" 
                    placeholder="********">
                        
                    <span class="cajaError"  id="errorPassword"></span >

                </div>
                <br>
                <div class="mb-3 col-6">
                    <label for="input-telefono" class="form-label">Teléfono</label>
                    <input type="tel" 
                    class="form-control" 
                    id="input-telefono" 
                    name="telefono"
                    placeholder="Introduzca Teléfono">
                        
                    <span class="cajaError" id="errorTelefono"></span >
                           
                </div>
                <div class="mb-3 col-6">
                    <label for="input-direccion" class="form-label">Dirección</label>
                    <input type="text" 
                    class="form-control" 
                    id="input-direccion" 
                    name="direccion"
                    placeholder="Introduzca Dirección de Residencia">
                        
                    <span class="cajaError" id="errorDireccion"></span >
                            
                </div>
                <div class="mb-3 col-6">
                    <label class="form-label fw-semibold" for="imagen">Imagen de Perfil</label>
                            <input
                                class="form-control"
                                type="file"
                                id="imagen"
                                name="imagen"
                            />
                </div>
                <div class="mb-2 col-6">
                    <label for="rol" class="form-label">Rol de Usuario</label>
                    <br/>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label for= 'admin' class = "btn btn-primary btn-radio">
                        <input type="radio" name="rol" id="admin" value = "admin" checked > Empleado
                      </label>
                      <label for= 'superadmin' class="btn btn-primary btn-radio" >
                        <input type="radio" name="rol" id="superadmin" value = "superadmin"> Admin
                      </label>
                    </div>
                    
                </div>
                
                <div class="mb-3 col-12">
                    <label for="sucursal" class="form-label">Sucursal</label>
                        <select name="sucursal" id="sucursal" class="form-control">
                                <option value="Rojo">Rojo</option>
                                <option value="Azul">Azul</option>
                                <option value="Verde">Verde</option>
                                <option value="Negro">Negro</option>
                                <option value="Blanco">Blanco</option>
                                <option value="Amarillo">Amarillo</option>
                            </select>
                </div>
        </div>

        <div class="confirm text-center" id="confirmacion"></div>
        <br>
        <span class=" text-center" id="errorEnviar"></span >
        <button type="submit" class="btn btn-primary btn-lg mx-auto d-block boton" id="boton-enviar">Registrar</button>
        <br>
        <br>
        </form>

        

    </main class="main-back-img" >
    <%- include('./partials/footer2') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"> </script>
   
</body>

</html>