<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/CSS/styleregistro.css">  
</head>

<body>
    <%- include('./partials/header') %>
    <main class="main-back-img">
        <br>
        <br>
        <br>
        <h1 class="titulo-formulario"><strong>Formulario de Registro</strong></h1>
        <p class="parrafotitulo">¡Ingresa tus datos para que disfrutes de nuestros servicios!</p>
        <br>
        <div class="container">
            <form class="row row-form g-4 mt-2" method="POST" action="/usuarios/registro">
                <div class="mb-3 col-6">
                    <label for="input-name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="input-name" name="nombre"
                        placeholder="Introduzca Nombre" required>
                </div>
                <div class="mb-3 col-6">
                    <label for="input-apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="input-apellido" name="apellido"
                        placeholder="Introduzca Apellido" required>
                </div>
                <br>
                <div class="mb-3 col-12">
                    <label for="exampleInputEmail1" class="form-label">Mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="mail" placeholder="Introduzca Mail" required>
                    <div class="avisoformu" id="emailHelp" class="form-text">Nunca compartiremos tu correo
                        electrónico
                        con nadie más.</div>
                </div>
                <br>
                <div class="mb-3 col-6">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                        aria-describedby="passwordhelp" name="contraseña" placeholder="********" required>
                    <div class="avisoformu" id="passwordhelp" class="form-text">La contraseña debe contener minimo 6
                        caracteres.</div>
                </div>
                <div class="mb-3 col-6">
                    <label for="exampleInputPassword2" class="form-label">Confirmar contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" name="contraseña2"
                        placeholder="********" required>
                </div>
                <br>
                <div class="mb-3 col-6">
                    <label for="input-telefono" class="form-label">Teléfono</label>
                    <input type="tel" class="form-control" id="input-telefono" name="telefono"
                        placeholder="Introduzca Teléfono" required>
                </div>
                <div class="mb-3 col-6">
                    <label for="input-direccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="input-direccion" name="direccion"
                        placeholder="Introduzca Dirección de Residencia" required>
                </div>
                <div class="mb-3 col-6">
                    <label for="image-user" class="form-label">Imagen de perfil</label>
                    <input type="file" class="form-control" id="image-user" name="avatar" required>
                        <br>
                        <br>
                        <br>
                        <br>
                </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <button type="submit" class="btn btn-primary btn-lg mx-auto d-block boton">Registrarme</button>
        <br>
        <div class="yacuenta">
            <p>¿Ya tienes cuenta? <a href="/src/views/login.ejs">Iniciar sesión</a></p>
        </div>
        <br>
        </form>
    </main class="main-back-img" >
    <%- include('./partials/footer2') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"> </script>

</body>

</html>