<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/footer2.css">
    <script src="https://kit.fontawesome.com/9396bdc138.js" crossorigin="anonymous"></script>
    <title>Footer</title>
</head>
<body>

    <footer>
        <div class="container">
            <div class="footer-row">
                <div class="links">
                    <h4>Compañia</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Contáctanos</a></li>
                        <li><a href="#">Acerca de Nosotros</a></li>
                        <li><a href="#">Trabaja con nosotros</a></li>
                    </ul>
                </div>
                <div class="links">
                    <h4>SobreNosotros</h4>
                    <ul>
                        <li><a href="#">rodando@gmail.com</a></li>
                        <li><a href="#">Contacto:+54-xxx-xxx</a></li>
                        <li><a href="#">WhatsApp:+54-xxx-xxx</a></li>
                    </ul>
                </div>
                <div class="links">
                    <h4>Account</h4>
                    <ul>
                        <li><a href="#">Log In</a></li>
                        <li><a href="#">Mi perfil</a></li>
                        <li><a href="#">Mis viajes</a></li>
                        <li><a href="#">Registrarse</a></li>
                    </ul>
                </div>
                <div class="links">
                    <h4>Siguenos</h4>
                    <div class="social">
                        <a href="#"><i class="fa-brands fa-facebook-f" style="color: #020736E0;"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter" style="color: #020736E0"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram" style="color: #020736E0;"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube" style="color: #020736E0;"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-details">
            <div class="bottom-text">
                <span class="copyright-text">Copyright &#169; 2023 All rights reserved.</span>
                <span class="policy-terms">
                    <a href="#">Políticas de privacidad</a>
                    <a href="#">Términos y condiciones</a>
                </span>
            </div>
        </div>
    </footer>
    
</body>
</html>