<header class="header">
  <div class="header__navbar">
    <div class="header__logo">
      <a class="logo-link" href="/">
        <img src="/img/logo.png" alt="Bootstrap" width="280" height="50" />
      </a>
    </div>
    <div class="menu-container">
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" class="menu-icon"
        ><i class="fa-solid fa-bars"> </i
      ></label>
      <nav class="menu">
        <ul class="header__nav--menu">
          <li class="header__nav--item">
            <a class="link-nav" href="/">Home</a>
          </li>
          <li class="header__nav--item">
        <% if(!locals.isLogged){ %>
            <a class="link-nav" href="../usuarios/login">Ingresa</a>
          </li>
        <% } %>
          <li class="header__nav--item">
            <a class="link-nav" href="../productos/carrito"
              ><i class="fa-solid fa-cart-shopping cart-color"></i
            ></a>
          </li>
          <% if(locals.isLogged){ %>
          <li class="header__nav--item">
            <label for="dropdown1-toggle" class="link-nav dropdown1-label">
              <i class="fa-solid fa-user dropdown1-icon"></i>
              <!-- <i class="fa-solid fa-chevron-down dropdown-icon"></i> -->
            </label>
            <input
              type="checkbox"
              id="dropdown1-toggle"
              class="dropdown1-checkbox"
            />
            <ul class="dropdown1-menu">     
              <li class="dropdown1-item">
                <a class="link-subMenu" href="../productos/crear">Crear producto</a>
              </li>
              <% if(locals.adminLogged){ %>
              <li class="dropdown1-item">
                <a class="link-subMenu" href="../usuarios/registro">Crear Usuario</a>
              </li>
              <% } %>
              </li>
              <li class="dropdown1-item">
                <a class="link-subMenu" href="../usuarios/perfil">Mi perfil</a>
              </li>
              <li class="dropdown1-item">
                <a class="link-subMenu" href="../usuarios/logout">Log Out</a>
              </li>
              <% } %>  
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
